<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <form method="get" action="{% url 'main_page' %}">
        <label for="keyword" style="font-size: 18px; font-weight: bold;">Select a keyword:</label>
        <select name="keyword" id="keyword" style="width: 200px; height: 30px; font-size: 16px;">
            <option value="">--Select a Keyword--</option>
            {% for keyword in keywords %}
                <option value="{{ keyword }}" {% if keyword == selected_keyword %}selected{% endif %}>{{ keyword }}</option>
            {% endfor %}
        </select>

        <div style="display: flex; align-items: center;">
            <label for="published_only" style="font-size: 18px; font-weight: bold; margin-right: 8px;">Only Published:</label>
            <input type="radio" id="published_only" name="published_filter" value="yes" {% if published_filter == "yes" %}checked{% endif %}> Yes
            <input type="radio" id="not_published_only" name="published_filter" value="no" {% if published_filter == "no" %}checked{% endif %}> No
        </div>
        
        <label for="title_search" style="font-size: 18px; font-weight: bold; margin-top: 15px;">Search by Title:</label>
        <input type="text" id="title_search" name="title_search" value="{{ request.GET.title_search }}" style="width: 300px; height: 30px; font-size: 16px;">

        <input type="submit" value="Filter" style="width: 100px; height: 35px; font-size: 16px;">
    </form>


    <h2>Papers</h2>
    <form method="post" action="{% url 'paper_list' %}">
        {% csrf_token %}
        <input type="hidden" name="keyword" value="{{ selected_keyword }}">
        <input type="hidden" name="published_filter" value="{{ published_filter }}">
        <ul>
        {% for paper in page_obj %}
            <li>
                <h3>
                    <a href="{% url 'paper_detail' paper_id=paper.entry_id %}">{{ paper.title }}</a>
                </h3>
                <p><strong>comment:</strong> {{ paper.comment }}</p>
                <p><strong>Keywords:</strong> {{ paper.keywords }}</p>
                <p><strong>Abstract:</strong> {{ paper.abstract }}</p>

                <button type="submit" name="find_similar_paper" value="{{ paper.entry_id }}">Find Similar Papers</button>
            </li>
        {% endfor %}
        </ul>
    </form>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>